<!DOCTYPE html>
<html lang="en" ng-app="BookReviewApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="bookReviewStyle.css" title="BookReviewStyle" rel="stylesheet" type="text/css">
    <link href="/authentication/templates/authStyle.css" rel="stylesheet" type="text/css">
    <title>BookLovers</title>
</head>

<body class="container-fluid" ng-cloak ng-controller="MainController">

    <div class="row" id="HeaderRow">
        <!-- Header Row -->
        <header role="banner" class="navbar-default">
            <div class="col-xs-3 col-md-3">
                <h1 id="HeaderHome">BookLovers</h1>
            </div>
            
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-default">
                    <button type="button" class="navbar-toggle collapsed" ng-click="showMenu=!showMenu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>

                <nav  class="collapse navbar-collapse pull-right" uib-collapse="!showMenu">
                        <ul class="nav nav-pills auth-links">
                            <li role="presentation"><a id="HomeLink" href="#/">Home</a></li>
                            <li role="presentation"><a id="MyReviewsLink" href="#/myReviews">My Reviews</a></li>
                            <li role="presentation"><a id="NewReleasesLink" href="#/newReleases">New Releases</a></li>
                            <li>
                                <li role="presentation"><a id="bookSearchLink" href="#/search"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li>
                                <ul class="nav nav-pills auth-links" ng-controller="AuthController">
                                    <li ng-hide="userService.isAuthenticated()"><a href ng-click="showLogin()">login</a></li>
                                    <li ng-hide="userService.isAuthenticated()"><a href ng-click="showSignup()">signup</a></li>
                                    <li ng-show="userService.isAuthenticated()">
                                        <a href="#/logout" ng-if="showMenu">logout {{userService.user.name}}</a>
                                        <nav ng-if="!showMenu" uib-dropdown on-toggle="toggled(open)" class="pull-right">
                                            <a href uib-dropdown-toggle><span class="glyphicon glyphicon-menu-hamburger"></span> {{userService.user.name}} </a>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li ng-show="userService.isAuthenticated()"><a href="#/logout">logout</a></li>
                                            </ul>
                                        </nav>
                                    </li>
                                </ul>
                            </li>
                        </ul>
              
                </nav>
            
        </header>
    </div>
    <!-- Header Row -->

    <div ng-view></div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

    <!-- UI-Bootstrap -->
    <script src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.1.3.js"></script>

    <script src="app.js"></script>
    <script src="./services/bookReviewDataService.js"></script>
    <script src="./services/httpService.js"></script>
    <script src="./controllers/homeController.js"></script>
    <script src="./controllers/myReviewsController.js"></script>
    <script src="./controllers/newReleasesController.js"></script>
    <script src="./controllers/popularAndNewBookController.js"></script>
    <script src="./controllers/googleBooksSearchController.js"></script>
    <script src="/authentication/auth.js"></script>
    <script src="/authentication/controllers/signup.js"></script>
    <script src="/authentication/controllers/login.js"></script>
    <script src="/authentication/controllers/logout.js"></script>

    <script src="./controllers/goodReads.js"></script>

</body>

</html>