
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500i,900");

body {
    font-family: Roboto;
}

/*******************************************
****   User login notification message: **** 
****   smooth fade-in-out transitions:  ****
********************************************/
.success-message {
    opacity: 1;
    line-height: 1.15em;
    margin: 0;
    padding: 0;
}
.success-message.ng-hide-remove, .success-message.ng-hide-add {
    transition: all ease 0.5s;
}
.success-message.ng-hide {
    opacity: 0;
    line-height: 0;
}

