<div class="row">
    <div class="container">

        <h3>Search for books</h3>
        <form name="bookSearchForm" class="col-xs-4 col-xs-offset-1">
            <div class="form-group">
                <label class="controll-label">title</label>
                <input type="text" class="form-control" autofocus placeholder="title" ng-model="search.intitle" />
            </div>
            <div class="form-group">
                <label class="controll-label">author</label>
                <input type="text" class="form-control" placeholder="author" ng-model="search.inauthor" />
            </div>
            <div class="form-group">
                <label class="controll-label">publisher</label>
                <input type="text" class="form-control" placeholder="publisher" ng-model="search.inpublisher" />
            </div>
            <div class="form-group">
                <label class="controll-label">subject</label>
                <input type="text" class="form-control" placeholder="subject" ng-model="search.subject" />
            </div>
            <div class="form-group">
                <label class="controll-label">isbn</label>
                <input type="text" class="form-control" placeholder="isbn" ng-model="search.isbn" />
            </div>
            <input type="submit" value="search" class="btn btn-default" ng-click="searchGoogle()">
            <button class="btn btn-default" ng-click="clearSearch()">reset search</button>
        </form>
        <div class="col-xs-7"></div>
    </div>
</div>
<div class="row">
    <div class="" style="position:absolute;top:100px;right:20px">
        <ul class="list-unstyled">
            <li class="h4">Popular Titles (10/20/2016):</li>
            <li>1. An Irish Country Love Story</li>
            <li>2. Cross Talk</li>
            <li>3. Hag-Seed</li>
            <li>4. Head Lopper</li>
            <li>5. News of the World</li>
            <li>6. small great things</li>
            <li>7. The Mothers</li>
            <li>8. Today Will Be Different</li>
            <li>9. Two by Two</li>
            <li>10. The Wangs vs. the World</li>
        </ul>
        <ul class="list-unstyled">
            <li class="h4">New Releases</li>
            <li>1. blood mirror</li>
            <li>2. Gemina</li>
            <li>3. go set a watchman</li>
            <li>4. holding up the universe</li>
            <li>5. magnus chase</li>
            <li>6. midnight star</li>
            <li>7. punk 57</li>
            <li>8. replica</li>
            <li>9. royally screwed</li>
            <li>10. trespasser</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">
        <hr/>
        <div class="media" ng-repeat="book in resultsList">
            <div class="media-left">
                <img ng-src="{{book.thumbnail}}" width="100px" alt="" class="media-object">
            </div>
            <div class="media-body">
                <ul class="list-unstyled">
                    <li class="media-heading">
                        <h4>Title: {{book.title}}</h4>
                    </li>
                    <li>
                        by:
                        <p>{{book.author}}</p>
                    </li>
                    <li>
                        Published: {{book.publishedDate}} <br/> by: {{book.publisher}}
                    </li>
                    <li>
                        ISBN: {{book.ISBN}}
                    </li>
                    <li>
                        <button class="btn btn-default" ng-click="saveBook(book)">save to DB</button>

                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>