<!-- BookReviewSite myReviews.html -->

<main>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <h2 id="HeaderMyReviews">My Reviews</h2>
            <div class="row">


                <div class="BookListStyle col-xs-12 col-md-6" ng-repeat="book in bookReviewArray" style="min-height:250px">
                    <div class="row">
                        <div class="col-xs-3" style="width:110px;"><a href="/popularAndNewBook">
                        <img style="height: 160px;" class="ImageStyle" ng-src={{book.image}}></a>
                        </div>

                        <div class="col-xs-9" style="border: 1px solid #666;">
                            <ul class="BookListStyle" style="border: 1px solid #666;">
                                <li class="BookListItemStyle"><h3 id="HeaderBookTitle">{{book.title}}</h3></li>
                                <li class="BookListItemStyle AuthorStyle">by {{book.author}}</li>
                                <li class="BookListItemStyle RatingStyle">
                                    <span ng-show="!showTextareaCursorAndRatingInput">{{book.rating}} Stars</span>
                                    <span ng-show="showTextareaCursorAndRatingInput"><input type="number" min="0" max="5" ng-model="revisedRatingNumber"></span>
                                </li>
                                <li class="BookListItemStyle ReviewStyle"><p>Review: {{book.review}}</p></li>
                             </ul>

                        </div>
                        <!--light gray line -->
                    </div>
                    <div class="clearfix"></div>
                </div>



        </div>
        </div>
        <div class="col-md-2"></div>

    </div>

</main>