<!-- BookReviewSite newReleases.html -->

<main>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <h2 id="HeaderNewReleases">New Releases</h2>

            <div class="row">

                <div class="col-md-2" ng-if="$index < 10" ng-repeat="book in bookReviewsArray track by $index">

                    <a href="#/popularAndNewBook" ng-click="passIndex($index)"><img id="NewBooksImageStyle" style="height: 160px;" ng-src={{book.thumbnail}}></a>

                </div>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</main>