<!-- BookReviewSite popularAndNewBook.html -->

<main>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div id="PopularAndNewBookReview" ng-repeat="book in bookReviewArray track by $index">

                <ul class="list-group">
                    <li class="col-md3 list-group-item">{{book.image}}
                        <ul class="col-md-5 list-group">
                            <li class="list-group-item"><h2 id="HeaderBookTitle">{{book.title}}</h2></li>
                            <li class="list-group-item AuthorStyle">by {{book.author}}</li>
                            <li class="list-group-item RatingStyle">{{book.rating}} Stars</li>
                            <li class="list-group-item BottomGrayDivider" id="BookSummary"><p>{{book.summary}}</p></li>
                            <li class="list-group-item "PagesAndPublisherStyle>Hardcover: {{book.pages}}</li>
                            <li class="list-group-item BottomGrayDivider">Publisher: {{book.publisher}}</li>
                        </ul>
                        <!--light gray line -->
                    </li>
                    <li class="list-group-item">
                        <button class="btn" type="button" id="ReviewBookButton" ng-show="!showAddAndCancelButtonsAndTextarea" ng-click="showButtonsAndTextarea()">Review Book</button>
                        <!--light gray line -->
                        <div ng-show="!showTextareaCursorAndRatingInput">
                            <button class="btn" type="button" id="AddReviewButton" ng-click="addReview()">Add</button>
                            <button class="btn" type="button" id="CancelAddReviewButton" ng-click="cancelAddReview()">Cancel</button>
                            <label for="NewUserRating">Rating: </label>
                            <input id="NewUserRating" type="number" min="0" max="5" ng-model="newUserRating">
                            <div class="input-group">
                                <label for="NewUserReview">Rating: </label><br>
                                <textarea class="form-control" id="NewUserReview" rows="5" autofocus ng-model={{newUserReview}}> </textarea>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4 id="HeaderUserReviewsTitle">User Reviews</h4>
                        <!--light gray line -->
                        <ul ng-repeat="review in book.reviews">
                            <li>{{reviews.userName}}</li>
                            <li>Rating: {{reviews.userRating}}</li>
                            <li><p>{{reviews.userReview}}</p></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- Popular and New Books -->

        </div><!-- Eight Columns -->

        <div class="col-md-2"></div>

    </div> <!-- Row -->

</main>