<!-- BookReviewSite popularAndNewBook.html -->

<main>

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="col-md-3">
                <img style="height: 160px;" ng-src={{bookReviewsArray[index].thumbnail}}>
            </div>

            <div class="col-md-5">

                <ul class="BookListStyle">
                    <li class="BookListItemStyle"><h2 id="HeaderBookTitle">{{bookReviewsArray[index].title}}</h2></li>
                    <li class="BookListItemStyle AuthorStyle">by {{bookReviewsArray[index].author}}</li>
                    <li class="BookListItemStyle RatingStyle">Average Rating: {{bookReviewsArray[index].averageRating}} <span uib-rating ng-model="{{bookReviewsArray[index].averageRating}}" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span></li>
                    <li class="BookListItemStyle BottomGrayDivider" id="BookSummary"><p>{{bookReviewsArray[index].description}}</p></li>
                     <li class="BookListItemStyle PagesAndPublisherStyle">Hardcover: {{bookReviewsArray[index].pageCount}}</li>
                     <li class="BookListItemStyle BottomGrayDivider">Publisher: {{bookReviewsArray[index].publisher}}</li>
                </ul>

            </div>

            <div class="clearfix"></div>
                        <!--light gray line -->
             <div>
                <ul class="BookListStyle">
                    <li class="BookListItemStyle">
                        <button class="btn" type="button" id="ReviewBookButton" ng-show="!showAddAndCancelButtonsAndTextarea" ng-click="showButtonsAndTextarea()">Review Book</button>
                        <!--light gray line -->
                        <div ng-show="showTextareaCursorAndRatingInput">
                            <button class="btn" type="button" id="AddReviewButton" ng-click="addReview()">Add</button>
                            <button class="btn" type="button" id="CancelAddReviewButton" ng-click="cancelAddReview()">Cancel</button>
                            <label for="NewUserRating">Rating: </label>
                            <input id="NewUserRating" type="number" min="0" max="5" ng-model="newUserRating">
                            <div class="input-group">
                                <label for="NewUserReview">Rating: </label><br>
                                <textarea class="form-control" id="NewUserReview" rows="5" autofocus ng-model="newUserReview"> </textarea>
                            </div>
                        </div>
                    </li>

                    <li class="BookListItemStyle">
                        <h4 id="HeaderUserReviewsTitle">User Reviews</h4>
                        <!--light gray line -->
                        <ul ng-repeat="review in bookReviewsArray[index].reviews">
                            <li>{{review.userName}}</li>
                            <li>Rating: {{review.userRating}}</li>
                            <li><p>{{review.userReview}}</p></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- Eight Columns -->

        <div class="col-md-2"></div>

    </div> <!-- Row -->

</main>