<!-- BookReviewSite signup.html -->

<div class="modal-header">
    <h1>Signup <small>for a new account</small></h1>
</div>
<div class="modal-body">
    <form class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label class="control-label">name</label>
                <input class="form-control" type="text" placeholder="Name" ng-model="user.name">
            </div>
            <div class="form-group">
                <label class="control-label">email</label>
                <input class="form-control" type="email" placeholder="email" ng-model="user.email" ng-required="true">
            </div>
            <div class="form-group"><label class="control-label">password</label>
                <input class="form-control" type="password" placeholder="password" ng-model="user.password" ng-required="true ">
            </div>
        </div>
    </form>
    <div class="success-message" ng-show="success">
        <p class="h3 text-center text-success" >
            Signup Successfull! <br/>
            <small>Please login on next page.</small>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="signup()">Signup</button>
</div>